/* 
    General Styles
*/
<<<<<<< HEAD
=======


.footer {
    
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   height:80px;
   background-color: black;
   color: white;
   text-align: center;
   margin-top:40px;
}


.jumbotron {
    
    display: inline-block;
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
} 
>>>>>>> d655f9bb823d218bb266b1a58dea158de16291d7
