/* 
    General Styles
*/
<<<<<<< HEAD

=======
>>>>>>> 6d52380e767450ade20cd46414930d88ce74eb6a


.footer {
    
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   height:80px;
   background-color: black;
   color: white;
   text-align: center;
   margin-top:40px;
}


.jumbotron {
    
    display: inline-block;
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
} 


=======
<<<<<<< HEAD

img {
    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}
<<<<<<< HEAD

=======
=======
>>>>>>> d655f9bb823d218bb266b1a58dea158de16291d7
>>>>>>> f71e8d20ced2084d6649d9a403ea3fb75502c072
>>>>>>> 022740a0b2413bcb024f5bfbe6f2dc12885cab19
>>>>>>> 6d52380e767450ade20cd46414930d88ce74eb6a
