/* 
    General Styles
*/


.footer {
    
   position: relative;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   margin-top:40px;
   margin-bottom: 0;
}


.jumbotron {
    
    display: inline-block;
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
} 



img {
    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}

.navbar-collapse{
        margin-top: 80px;
}


.navbar{
       
        height: 60px;
}

.bg-dark{
    
    background-color: black;
    
}